name: Docker Flask AWS EB Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install AWS CLI
        run: |
          pip install awscli
          aws --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Zip application
        run: zip -r flask-docker-eb.zip app.py requirements.txt Dockerfile

      - name: Upload zip to S3
        run: aws s3 cp flask-docker-eb.zip s3://baspans/flask-docker-eb.zip

      - name: Deploy to Elastic Beanstalk
        run: |
          VERSION_LABEL=v-${GITHUB_SHA::8}
          aws elasticbeanstalk create-application-version \
            --application-name ${{ secrets.EB_APPLICATION_NAME }} \
            --version-label $VERSION_LABEL \
            --source-bundle S3Bucket=baspans,S3Key=flask-docker-eb.zip

          aws elasticbeanstalk update-environment \
            --environment-name ${{ secrets.EB_ENVIRONMENT_NAME }} \
            --version-label $VERSION_LABEL


      - name: Echo secrets (unsafe!)
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}"
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          echo "AWS_REGION=${{ secrets.AWS_REGION }}"

